# Python
__pycache__/
*.py[cod]
*$py.class
*.so

# Virtual Environment
venv/
env/
ENV/

# Django
*.log
db.sqlite3
media/

# VS Code
.vscode/

# Local development settings
personal_portfolio/local_settings.py

# System Files
.DS_Store
Thumbs.db
